<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RiverDale University</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<body>
    <div class="container-course">
        <nav>
            <a href="{{ url_for('home')}}"> <img src='../static/assets/logo.png'> </a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="{{ url_for('home') }}">HOME</a></li>
                    <li><a href="{{ url_for('aboutus') }}">ABOUT US</a></li>
                    <li><a href="{{ url_for('courses') }}">COURSES</a></li>
                    <li><a href="{{ url_for('contactus') }}">CONTACT US</a></li>
                </ul>
            </div>
            <a href="login.html" class="Visit-btn">SIGN IN</a>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <h1>Our Courses</h1>
    </div>

    <div class="courses-col">
        <h1>Courses We Offer</h1>
    </div>

    <section class="course-container">
        <h2>Technology and Computer Science</h2>
        <p>Dive into coding and software development essentials for the digital era.</p>

        <div class="row">
            <div class="type-col">
                <h3>BSc (Hons) Computing</h3>
                <p>Explore the ever-evolving world of computing and technology with our BSc program. Gain hands-on
                    experience in software development, database management and system analysis, and stay at the
                    forefront of technological advancements that are shaping our digital future.</p>
                <div class="key-points">
                    <i class="fa fa-check">
                        <p>Advanced Programming Skills</p>
                    </i>
                    <i class="fa fa-check">
                        <p>Industry-Relevant Software Development</p>
                    </i>
                    <i class="fa fa-check">
                        <p>Cybersecurity Fundamentals</p>
                    </i>
                    <i class="fa fa-check">
                        <p>Cloud Computing Concepts</p>
                    </i>
                </div>
                <a href="login.html" class="signin-btn">EXPLORE</a>
            </div>
            <div class="type-col">
                <h3>BSc Computer Science - Artificial Intelligence</h3>
                <p>Embark on a foundational journey into the dynamic realm of machine learning. This course delves into
                    supervised and unsupervised learning, reinforcement learning, and deep learning, offering practical
                    insights into real-world applications like natural language processing and image recognition.</p>
                <div class="key-points">
                    <i class="fa fa-check">
                        <p>Neural Networks Theory</p>
                    </i>
                    <i class="fa fa-check">
                        <p>Robotics and Automation</p>
                    </i>
                    <i class="fa fa-check">
                        <p>Deep Learning Frameworks</p>
                    </i>
                    <i class="fa fa-check">
                        <p>Autonomous Systems Development</p>
                    </i>
                </div>
                <a href="login.html" class="signin-btn">EXPLORE</a>
            </div>
        </div>
    </section>

    <section class="course-container">
        <h2>Business and Economics</h2>
        <p>Master essential skills in mathematics, marketing, and economics for success in various industries.</p>

        <div class="row">
            <div class="type-col">
                <h3>BA Economics</h3>
                <p>Microeconomics and Macroeconomics courses provide a foundation in understanding individual economic
                    agents, market dynamics, and broader economic factors influencing societies and nations. Topics may
                    include supply and demand, market structures, GDP, inflation, and monetary policy.</p>
                <div class="key-points">
                    <i class="fa fa-check">
                        <p>Econometrics and Data Analysis</p>
                    </i>
                    <i class="fa fa-check">
                        <p>Financial Markets and Institutions</p>
                    </i>
                    <i class="fa fa-check">
                        <p>Economic Development Theory</p>
                    </i>
                    <i class="fa fa-check">
                        <p>Microeconomic Principles</p>
                    </i>
                </div>
                <a href="login.html" class="signin-btn">EXPLORE</a>
            </div>
            <div class="type-col">
                <h3>BA Business Administration</h3>
                <p>Business Administration or Management courses cover fundamental principles of organizational
                    structures, managerial functions, and strategic decision-making. This subject encompasses various
                    aspects of business, including marketing, finance, human resources, operations, and
                    entrepreneurship.</p>
                <div class="key-points">
                    <i class="fa fa-check">
                        <p>Business Ethics and Corporate Responsibility</p>
                    </i>
                    <i class="fa fa-check">
                        <p>Human Resource Management</p>
                    </i>
                    <i class="fa fa-check">
                        <p>Financial Accounting</p>
                    </i>
                    <i class="fa fa-check">
                        <p>Entrepreneurship and Innovation</p>
                    </i>
                </div>
                <a href="login.html" class="signin-btn">EXPLORE</a>
            </div>
        </div>
    </section>

    <section class="course-container">
        <h2>Arts and Literature</h2>
        <p>Unleash creativity and explore artistic expression in fine arts and literature courses.</p>

        <div class="row">
            <div class="type-col">
                <h3>Bachelor of Fine Arts in Creative Writing</h3>
                <p>This program focuses on developing students' creative writing abilities across various genres,
                    including fiction, poetry, non-fiction, and playwriting. Students engage in workshops, seminars, and
                    independent projects to refine their writing skills and produce original works.</p>
                <div class="key-points">
                    <i class="fa fa-check">
                        <p>Screenwriting Fundamentals</p>
                    </i>
                    <i class="fa fa-check">
                        <p>Poetry Composition</p>
                    </i>
                    <i class="fa fa-check">
                        <p>Story Structure and Plot Development</p>
                    </i>
                    <i class="fa fa-check">
                        <p>Creative Nonfiction Craft</p>
                    </i>
                </div>
                <a href="login.html" class="signin-btn">EXPLORE</a>
            </div>
            <div class="type-col">
                <h3>Diploma in Theatre Arts</h3>
                <p>Embark on an enriching journey in the world of theatre arts with our immersive diploma program,
                    offering comprehensive training in acting, directing, stagecraft, and production management. Dive
                    deep into the art of storytelling and theatrical expression.</p>
                <div class="key-points">
                    <i class="fa fa-check">
                        <p>Stagecraft and Production Design</p>
                    </i>
                    <i class="fa fa-check">
                        <p>Theatre History and Dramatic Literature</p>
                    </i>
                    <i class="fa fa-check">
                        <p>Performance Critique and Analysis</p>
                    </i>
                    <i class="fa fa-check">
                        <p>Playwriting Fundamentals</p>
                    </i>
                </div>
                <a href="login.html" class="signin-btn">EXPLORE</a>
            </div>
        </div>
    </section>



    <!-- ---- Footer ----  -->

    <section class="footer">
        <h4>Connect With Us</h4>
        <p>Stay connected with us on social media for the latest updates, news, and exclusive content!</p>
        <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
        </div>
        <p>Designed and Developed by Subarna Bajracharya with content contributions from Shishir Itani and Sujan Rai</p>
    </section>

    <!-- ----- JS for sign in sign out animation ----  -->
    <script src="../static/app.js"></script>

    <!------JS for toggle menu----->

    <script>
        var navLinks = document.getElementById('navLinks');

        function showMenu() {
            navLinks.style.right = '0';
        }

        function hideMenu() {
            navLinks.style.right = '-200px';
        }

    </script>
</body>