<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RiverDale University</title>
  <link rel="stylesheet" href="../static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<body>
  <section class="header">
    <nav>
      <a href="index.html"> <img src='../static/assets/logo.png'> </a>
      <div class="nav-links" id="navLinks">
        <i class="fa fa-times" onclick="hideMenu()"></i>
        <ul>
          <li><a href="index.html">HOME</a></li>
          <li><a href="aboutus.html">ABOUT US</a></li>
          <li><a href="">COURSES</a></li>
          <li><a href="">CONTACT US</a></li>
        </ul>
      </div>
      <a href="login.html" class="Visit-btn">SIGN IN</a>
      <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>
    <div class="text-box">
      <h1>
        Welcome to RiverDale University
      </h1>
      <p>
        Where academic excellence meets vibrant campus life in a picturesque setting
      </p>
      <a href="https://maps.app.goo.gl/u44RSRgxZ8oAgqRb8" target="_blank"  class="Visit-btn">Visit Us</a>
    </div>
  </section>

  <!------Course Section-->

  <section class="course">
    <h1>
      Courses We Offer
    </h1>
    <p>
      At Riverdale University, explore technology, business, and the arts in our dynamic courses, preparing for success
      in diverse fields.
    </p>

    <div class="row">
      <div class="course-col">
        <h3>Technology and Computer Science</h3>
        <p>Dive into coding and software development essentials for the digital era.</p>
      </div>
      <div class="course-col">
        <h3>Business and Economics</h3>
        <p>Master essential skills in mathematics, marketing, and economics for success in various industries.</p>
      </div>
      <div class="course-col">
        <h3>Arts and Literature</h3>
        <p>Unleash creativity and explore artistic expression in fine arts and literature courses.</p>
      </div>
    </div>

  </section>

  <!---- College -->

  <section class="college">
    <h1>Our Global Universities</h1>
    <p>Elevating education worldwide in London, New York, and Berlin, fostering diverse perspectives and academic
      excellence in iconic international cities.</p>

    <div class="row">
      <div class="college-col">
        <img src="../static/assets/building1.jpg">
        <div class="layer">
          <h3>LONDON</h3>
        </div>
      </div>
      <div class="college-col">
        <img src="../static/assets/twin.jpg">
        <div class="layer">
          <h3>NEWYORK</h3>
        </div>
      </div>
      <div class="college-col">
        <img src="../static/assets/building2.jpg">
        <div class="layer">
          <h3>BERLIN</h3>
        </div>
      </div>
    </div>
  </section>

  <!---  Facilities -->
  <section class="facilities">
    <h1>Our Facilites</h1>
    <p>State-of-the-art amenities and resources across campuses, providing students with an enriching learning
      environment conducive to academic success and personal growth.</p>
    <div class="row">
      <div class="facilities-col">
        <img src="../static/assets/unigarden.jpg" alt="">
        <h3>Peaceful Retreat Gardens</h3>
        <p>Tranquil gardens offer students a serene escape for relaxation and rejuvenation amidst campus life.</p>
      </div>
      <div class="facilities-col">
        <img src="../static/assets/coworkingspace.jpg" alt="">
        <h3>Innovative Co-working Spaces</h3>
        <p>Collaborative workspaces inspire creativity and teamwork, equipped for group study sessions.</p>
      </div>
      <div class="facilities-col">
        <img src="../static/assets/basketball.jpg" alt="">
        <h3>Recreational Playground</h3>
        <p>Outdoor space with sports courts and green areas for students to relax and socialize.</p>
      </div>
    </div>
  </section>

  <!-- --- contact us -- -->

  <section class="contactus">
    <h1>Enroll From Anywhere in the World</h1>
    <a href="" class="Visit-btn">Contact Us</a>
  </section>


  <!-- ---- Footer ----  -->

  <section class="footer">
    <h4>Connect With Us</h4>
    <p>Stay connected with us on social media for the latest updates, news, and exclusive content!</p>
    <div class="icons">
      <i class="fa fa-facebook"></i>
      <i class="fa fa-twitter"></i>
      <i class="fa fa-instagram"></i>
      <i class="fa fa-linkedin"></i>
    </div>
    <p>Designed and Developed by Subarna Bajracharya with content contributions from Shishir Itani and Sujan Rai</p>
  </section>


  <!------JS for toggle menu-----> 

  <script>
    var navLinks = document.getElementById('navLinks');

    function showMenu() {
      navLinks.style.right = '0';
    }

    function hideMenu() {
      navLinks.style.right = '-200px';
    }

  </script>
</body>

</html>