<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RiverDale University</title>
  <link rel="stylesheet" href="../static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<body>
  <div class="container-main">
    <nav>
      <a href="index.html"> <img src='../static/assets/logo.png'> </a>
      <div class="nav-links" id="navLinks">
        <i class="fa fa-times" onclick="hideMenu()"></i>
        <ul>
          <li><a href="index.html">HOME</a></li>
          <li><a href="aboutus.html">ABOUT US</a></li>
          <li><a href="course.html">COURSES</a></li>
          <li><a href="contactus.html">CONTACT US</a></li>
        </ul>
      </div>
      <a href="login.html" class="Visit-btn">SIGN IN</a>
      <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>
    <div class="login-container">
      <div class="signin-signup">
        <form action="" class="sign-in-form">
          <h2 class="title">Sign in</h2>
          <div class="input-field">
            <i class="fa fa-envelope"></i>
            <input type="email" placeholder="Email">
          </div>
          <div class="input-field">
            <i class="fa fa-lock"></i>
            <input type="password" placeholder="Password">
          </div>
          <input type="submit" value="login" class="signin-btn">
          <p class="social-text">Or Sign in with social platform</p>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="" class="social-icon">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="" class="social-icon">
              <i class="fa fa-google"></i>
            </a>
            <a href="" class="social-icon">
              <i class="fa fa-linkedin"></i>
            </a>
          </div>
          <p class="account-text">Don't have an account? <a href="#" id="sign-up-btn2">Sign up</a></p>
        </form>

        <form action="" class="sign-up-form">
          <h2 class="title">Sign up</h2>
          <div class="input-field">
            <i class="fa fa-user"></i>
            <input type="text" placeholder="Name">
          </div>
          <div class="input-field">
            <i class="fa fa-envelope"></i>
            <input type="email" placeholder="Email">
          </div>
          <div class="input-field">
            <i class="fa fa-phone"></i>
            <input type="number" placeholder="Contact Number">
          </div>
          <div class="input-field">
            <i class="fa fa-globe"></i>
            <input type="text" placeholder="Address">
          </div>
          <div class="input-field">
            <i class="fa fa-lock"></i>
            <input type="password" placeholder="Password">
          </div>
          <input type="submit" value="Sign up" class="signin-btn">
          <p class="social-text">Or Sign in with social platform</p>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="" class="social-icon">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="" class="social-icon">
              <i class="fa fa-google"></i>
            </a>
            <a href="" class="social-icon">
              <i class="fa fa-linkedin"></i>
            </a>
          </div>
          <p class="account-text">Already have an account? <a href="#" id="sign-in-btn2">Sign in</a></p>
        </form>

      </div>
      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>Already have an account?</h3>
            <button class="signin-btn" id="sign-in-btn">Sign in</button>
          </div>
          <img src="../static/assets/signin.svg" alt="" class="image">
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>Don't have an account?</h3>
            <button class="signin-btn" id="sign-up-btn">Sign up</button>
          </div>
          <img src="../static/assets/signup.svg" alt="" class="image">
        </div>
      </div>
    </div>

    <!-- ----- JS for sign in sign out animation ----  -->
    <script src="../static/app.js"></script>

    <!------JS for toggle menu----->

    <script>
      var navLinks = document.getElementById('navLinks');

      function showMenu() {
        navLinks.style.right = '0';
      }

      function hideMenu() {
        navLinks.style.right = '-200px';
      }

    </script>

    <!-- ---- Footer ----  -->

    <section class="footer-login">
      <h4>Connect With Us</h4>
      <p>Stay connected with us on social media for the latest updates, news, and exclusive content!</p>
      <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
      </div>
    </section>


</body>

</html>